{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{{title}}
{% endblock %}

{% block  content %}

    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div
            class="banner_content d-md-flex justify-content-between align-items-center"
          >
            <div class="mb-3 mb-md-0">
             <h2>Blog {{ blog_count }}</h2>
              <p>Very us move be blessed multiply night</p>
            </div>
            <div class="page_link">
              <a href="{% url 'index' %}">Home</a>
              <a href="{% url 'blog' %}">Blog  </a>
            </div>
          </div>
        </div>
      </div>
      
    </section>
    <!--================End Home Banner Area =================-->

  <!--================Blog Area =================-->
  <section class="blog_area section_gap">
    <div class="search-container">
      <div class="col-lg-4">
              <aside class="single_sidebar_widget search_widget" style="height: 200;">
                  <form action="#" method="post">
                      {% csrf_token %}
                      <div class="form-group d-flex justify-content-center"></div>
                      <div class="form-group d-flex">
                          <input name="start_date" type="date" class="form-control mr-2" style="width: 180px;" placeholder="Başlangıç tarihi" value="{{ start_date }}">
                          <input name="end_date" type="date" class="form-control mr-2" style="width: 180px;" placeholder="Bitiş tarihi" value="{{ end_date }}">
                          <select name="category" class="form-control mr-2" style="width: 180px; height: 80;">
                              <option value="">Kategori seçin</option>
                              {% for category in categories %}
                                  <option value="{{ category.id }}">{{ category.name }}</option>
                              {% endfor %}
                          </select>
                          <input name="blog_search" type="text" class="form-control mr-2 ml-2" style="width: 180px;" placeholder="Blog ara">
                          <button class="btn btn-primary" type="submit">Ara</button>
                      </div>
                  </form>
                  <!-- excell -->
                  <form action= "{% url 'export_excel' %}" method="post">
                      {% csrf_token %}
                      <button class="btn btn-primary" type="submit">Excel download</button>
                  </form>
              </aside>
              <!-- Diğer bileşenler -->
      </div>
  </div>
  
</section>

  

      <h3 class="text-center">
        {% if blogs.count == 0 %}
          Blog tapilmadi
        {% endif %}

      </h3>
      
          <div class="row">
              
              <div class="col-lg-8 mb-5 mb-lg-0">
                  <div class="blog_left_sidebar">
                      {% for blog in blogs %}
                      <article class="blog_item">
                        <div class="blog_item_img">
                          <img class="card-img rounded-0" src="{{blog.image.url}}" alt="">
                          <a href="#" class="blog_item_date">
                            <h3>{{ blog.created_at | date:"j" }}
                            </h3>
                            <p>{{ blog.created_at | date:"M" }}
                            </p>
                          </a>
                        </div>
                        
                        <div class="blog_details">
                            <a class="d-inline-block" href="{% url 'single-blog' blog.slug  %}">
                                <h2>{{blog.title}}</h2>
                            </a>
                            <p>That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</p>
                            <ul class="blog-info-link">
                              <li><a href="#"><i class="ti-user"></i> Travel, Lifestyle</a></li>
                              <li><a href="#"><i class="ti-comments"></i> 03 Comments</a></li>
                            </ul>
                        </div>
                      </article>
                      {% endfor %}
                    





                      <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                          <li class="page-item">
                            {% if blogs.has_previous %}
                              <a href="?page={{ blogs.previous_page_number }}" class="page-link" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            {% endif %}
                          </li>
                          {% for i in blogs.paginator.page_range %}
                            <li class="page-item {% if i == blogs.number %}active{% endif %}">
                              <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                            </li>
                          {% endfor %}
                          <li class="page-item">
                            {% if blogs.has_next %}
                              <a href="?page={{ blogs.next_page_number }}" class="page-link" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            {% endif %}
                          </li>
                        </ul>
                      </nav>
                      
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="blog_right_sidebar">
                      

                      

                      


                      <aside class="single_sidebar_widget instagram_feeds">
                        <h4 class="widget_title">Instagram Feeds</h4>
                        <ul class="instagram_row flex-wrap">
                            <li>
                                <a href="#">
                                  <img class="img-fluid" src="{% static 'img/instagram/widget-i1.png' %}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                  <img class="img-fluid" src="{% static 'img/instagram/widget-i2.png' %}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                  <img class="img-fluid" src="{% static 'img/instagram/widget-i3.png' %}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                  <img class="img-fluid" src="{% static 'img/instagram/widget-i4.png' %}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                  <img class="img-fluid" src="{% static 'img/instagram/widget-i5.png' %}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                  <img class="img-fluid" src="{% static 'img/instagram/widget-i6.png' %}" alt="">
                                </a>
                            </li>
                        </ul>
                      </aside>


                      <aside class="single_sidebar_widget newsletter_widget">
                        <h4 class="widget_title">Newsletter</h4>

                        

                        <form method='post'class="form-inline">
                          {% csrf_token %}
                          <div class="wrap-input1 w-full p-b-4">
                            {% comment %} <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com"> {% endcomment %}
                            {{subscriber_form.email}}
                            <div class="focus-input1 trans-04"></div>
                          </div>
              
                          <div class="p-t-18">
                            <button class="main_btn rounded-0 w-100">
                              Subscribe
                            </button>
                          </div>
                        </form>
                      </aside>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--================Blog Area =================-->
  

{% endblock %}