{%load static%}
{% load i18n %}





<header class="header_area">
   
    <!-- End Top Menu -->

    <div class="top_menu">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <div class="float-left">
                <p>Phone:{{setting_data.phone}}</p>
                <p>{{setting_data.email}}</p>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="float-right">
                <ul class="right_side">
                  <li>
                    <form  action="{% url 'set_language' %}" method="post" class="language-form" >
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <select name="language" id="language" onchange="this.form.submit()">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                                    {{ language.name_local }}
                                </option>
                            {% endfor %}
                        </select>
                      </form>
                  </li>
                  <li>
                    {% if user.is_authenticated %}
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                            {% else %}
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'register' %}">Register</a></li>
                            {% endif %}
                  </li>
                  <li>
                    <a href="contact.html">
                      Contact Us
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'social:begin' 'google-oauth2' %}">
                        <i class="fa-brands fa-google"></i>
                    </a>
                </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- Main Menu -->
    <div class="main_menu">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <!-- Brand -->
                <a class="navbar-brand logo_h" href="{% url 'index' %}">
                    <img src="{{ setting_data.logo.url }}" alt="" />
                </a>
                <!-- Mobile Toggle Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- End Mobile Toggle Button -->

                <!-- Navbar Links -->
                <div class="collapse navbar-collapse offset w-100" id="navbarSupportedContent">
                    <div class="row w-100 mr-0">
                        <div class="col-lg-5 pr-0">
                            <!-- Main Menu Links -->
                            <ul class="nav navbar-nav center_nav pull-right">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                                </li>
                                <li class="nav-item submenu dropdown">
                                    <a class="nav-link" href="{% url 'shop' %}">Shop</a>
                                   
                                </li>
                                <li class="nav-item submenu dropdown">
                                    <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                                   
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contact_us' %}">Contact</a>
                                </li>
                                
                            </ul>
                            <!-- End Main Menu Links -->
                        </div>

                        <div class="col-lg-7 pr-0">
                            <!-- Right Side Navbar Links -->
                            
                            <ul class="nav navbar-nav navbar-right right_nav pull-right">
                             
                              <div class="nav-elemanları">
                                <li class="nav-elemani">
                                    <form action="{% url 'all-search' %}" method="post" class="arama-formu">
                                        {% csrf_token %}
                                        <input type="text" name="all_search" placeholder="Buradan ara.....">
                                        <button type="submit">Ara</button>
                                    </form>
                                </li>
                            </div>                      
                                <!-- End Register Link -->
                            </ul>
                            <!-- End Right Side Navbar Links -->
                        </div>
                    </div>
                </div>
                <!-- End Navbar Links -->
            </nav>
        </div>
    </div>
    <!-- End Main Menu-->
